.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.VendingMachine {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.SodaDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BuyButton {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: large;
  font-weight: bold;
  color: black;
}

.BuyButton:hover{
  background-color: bisque;
}
.BuyButton:disabled{
  background-color: gray;
}
